{% extends "base.html" %}

{% block titulo %}

	Cartão | Nosso Café

{% endblock %}

{% block topo %}

	<div class="py-5"></div>

{% endblock %}

{% block logo %}

	<div class="py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-1">Nosso Café</h1>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block conteudo %}

	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="">
						<div class="form-group"> <label>Número de cartão</label> 

							<input type="number" class="form-control" required="required" placeholder="0000 0000 0000 000 0"> 

						</div>
						<div class="form-group"><label>Data de Validade</label>
							<div class="input-group">

								<input type="date" class="form-control" id="inlineFormInputGroup" required="required">

							</div>
						</div>
						<div class="form-group"><label>CVV</label>
							<div class="input-group">

								<input type="number" class="form-control" id="inlineFormInputGroup" placeholder="000">

							</div><small class="text-muted form-text">Não compartilharemos as suas informações de cartão</small>
						</div>
					</form>

					<button type="submit" class="btn btn-primary">Continuar</button>
					
				</div>
			</div>
		</div>
	</div>

{% endblock %}