{% extends "base.html" %}

{% block titulo %}

	Cadastro | Nosso Café

{% endblock %}

{% block topo %}

	<div class="py-5"></div>

{% endblock %}

{% block logo %}

	<div class="py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-1">Nosso Café</h1>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block conteudo %}

	<div class="py-1 border-dark border-top-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 border-top border-dark">
					<h1 class="display-4">Fale Conosco</h1>
				</div>
			</div>
		</div>
	</div>

    {% if success %}
    <div class="alert alert-success">
        Mensagem enviada com sucesso
    </div>
    {% endif %}

	<div class="py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<form class="" action="" method="post">
                        {% csrf_token %}

                         <fieldset>
                        {% for field in form %}

						<div class="form-group">
                            <label for="{{ field.auto_id }}"> {{ field.label }} </label>
                            {{ field }}
                        </div>

                        {% endfor %}


						<button type="submit" class="btn btn-primary">Enviar</button>

                         </fieldset>
                    </form>



				</div>
			</div>
		</div>
	</div>

{% endblock %}
