{% extends "base.html" %}

{% block titulo %}

	Login | Nosso Café

{% endblock %}

{% block topo %}

	<div class="py-5"></div>

{% endblock %}

{% block logo %}

	<div class="py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-1">Nosso Café</h1>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block conteudo %}

	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="">
					<form class="form-inline" method="post" action="">

                        {% csrf_token %}

						<fieldset>

                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endfor %}

                            <div class="form-group">
                                <label for="{{ form.username.auto_id }}" class="col-md-3 control-label">{{ form.username.label_tag }}</label>
                                {{ form.username }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password.auto_id }}" class="col-md-3 control-label">{{ form.password.label_tag }}</label>
                                {{ form.password }}
                            </div>

						<button type="submit" class="btn btn-primary" href=>Entrar</button>

					    </fieldset>

                    </form>
				</div>
			</div>
		</div>
	</div>

	<div class="py-2">
		<div class="container">
			<div class="row">

				<div class="col-md-12"><a class="btn btn-outline-dark" href="{% url 'cadastro' %}">Não possui uma conta? Se inscreva!</a></div>

			</div>
		</div>
	</div>

{% endblock %}