{% extends "base.html" %}

{% block titulo %}

	{{produtora}} | Nosso Café

{% endblock %}


{% block topo %}

	<div class="py-3 bg-dark"></div>
	<div class="py-3 pt-5 pb-0" style="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-2">Nosso Café</h1>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block mid %}

	<div class="py-3" style="">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<form class="form-inline">
						<div class="input-group">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
							<div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					<div class="btn-group">

						<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Filtrar por</button>

						<div class="dropdown-menu">

							<a class="dropdown-item" href="#">Menor preço</a>
							
							<a class="dropdown-item" href="#">Maior preço</a>

							<a class="dropdown-item" href="#">Mais populares</a>

							<a class="dropdown-item" href="#">Mais novos</a>

						</div>
					</div>
				</div>
				<div class="col-md-3">

					<a class="btn btn-primary" href="{% url 'carrinho' %}">&nbsp;<i class="fa fa-shopping-cart fa-fw"></i>&nbsp;Meu carrinho</a>

				</div>
				<div class="col-md-3">

					<a class="btn btn-primary" href="{% url 'home' %}">&nbsp;<i class="fa fa-fw fa-home"></i>&nbsp;Home</a>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block conteudo %}

	<div class="py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
					<h1 class="display-4 border-top border-dark">
						{{produtora | capfirst}}
					</h1>

				</div>
			</div>
		</div>
	</div>

	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4 px-5" style=""><img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"></div>
				<div class="col-md-8 rounded bg-light py-1 pt-3" style="">
					<div class="row">
						<div class="col-md-12">

							<p class="lead">
								{{texto}}}
							</p>

							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-3" style="">

											<p class="lead">Preço: 
												R$ {{valor}}
											</p>

										</div>
										<div class="col-md-4" style="">

											<a class="btn btn-outline-primary" href="#" contenteditable="true">Adicionar ao carrinho&nbsp;<i class="fa fa-shopping-cart fa-fw"></i> </a>

										</div>
										<div class="col-md-4" style="">

											<a class="btn btn-primary px-4" href="#">Comprar agora</a>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}